.demo .notificationsFrame .header {
    background: rgba(0, 0, 43, 1);
  }
  .demo .notificationsFrame .header .searchIcon,
  .demo .notificationsFrame .header .title {
    color: #f5f5f5;
  }
  
  .demo .notificationsFrame .header .menuIcon .dashTop,
  .demo .notificationsFrame .header .menuIcon .dashBottom,
  .demo .notificationsFrame .header .menuIcon .circle {
    background-color: #f5f5f5;
  }
  